


.mainBox{
  background-image: url("./utility/Loginpage/bgimg.jpeg");
  height:100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
/* overflow:hidden; */
}
