.mainSec{
    display: flex;

    width: 100%;

}
.leftSec{

    width: 20%;
    /* border: 1px solid red; */
    /* background-color: rgba(0, 0, 255, 0.753); */
    background-color: rgba(0, 4, 255, 0.774);
    /* border: 2px solid white; */
    /* box-shadow: 2px 2px white; */
    margin-top: 2px;
    /* border: 1px solid rgb(253, 122, 0); */
    height: 90vh;
    color: white;
}
.centerSec{
    width: 60%;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    /* border: 1px solid rgb(0, 38, 253); */
    /* box-shadow: 2px 2px 2px rgb(253, 122, 0); */

display: flex;
/* flex-direction:row; */
flex-wrap: wrap;
;
/* flex-align: center; */

}
.chooseitem{
    width:15vw;
    /* margin: 2px; */
    /* margin-right: 6px !important; */
    /* height: 10vh; */
    /* border: rgb(0, 26, 255) solid 1px; */
    /* background-image:linear-gradient(to right, rgba(231, 231, 231, 0.705) 0%, rgba(173, 91, 91, 0.753) 100%); */
}