.mainBox{
   width: 100vw;  
   height: 100vh; 
   min-height: 100vh;
   min-width: 100vw;  
  } 
  .item_box{
    background-image: url("./utility/Loginpage/homeimage.jpg");
    width: 100vw; 
    height: 100vh;
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: center;

  
   
  }
  .homepage_content{
    display: flex;
    flex-direction: row;
  }
  .homepage_content_left{
    width: 20%;
  }
  .homepage_content_center{
    padding-left: 5%;
    width: 60%;
    align-items: center;
    /* color: #F7AA00; */
    color: white;
    padding-top: 12%;
  }
  .homepage_content_right{
    width: 20%;
  }
  #start_button{
   
border-radius: 6px;
height: 6vh;
border: 1px solid rgb(255, 0, 179);
background-color:rgb(255, 0, 179);
color: white;
box-shadow: 4px 4px 10px rgb(255, 0, 179) ;
float: right;
  }
  :hover#start_button{
    font-weight: bold;
    font-size: medium;
    box-shadow: 3px 3px 5px yellow ;
  }
  .video_section{
    /* margin-top: 2%; */
    margin-bottom: 5%;
    /* height: 100% !important; */
    /* height: 60%; */
    /* box-shadow: 3px 3px 5px yellow ; */
    /* width: 88%; */
    overflow: hidden;
    /* border-radius: 4px; */
  }
  .video_section2{
height: 100% !important;
margin-bottom: 10%;
/* padding-bottom: 5px; */
  }