.mainContainer{

display: flex;
 
    

    
}

.centerBoxLogin{
    width: 30%; 
    padding-top: 5%;
}

.loginCard{
    /* border: 1px solid blue !important; */
    box-shadow: 2px 2px 8px rgb(0, 4, 255);
    padding: 5%;
}
.leftBox{
    width: 35%;
    /* box-shadow: 5px 5px 2px rgb(233, 233, 233); */
    /* border: 1px solid rgb(233,233,233); */
}
.submitbutton{
    box-shadow: 5px 5px 2px rgb(233, 233, 233);
    float: right;
}